@use "../../theme";

.create-message {
  @include theme.page;
  @include theme.flex-column-center;

  form {
    @include theme.auth-form;

    textarea {
      height: 20vh;
      width: 90%;
      float: center;
      resize:none;
      border: none;
      background-color: lightgrey;
      outline: none;
      @media screen and (min-width: 800px) {
        width: 80%;
        float: right;
      }
    }

    .textarea {
      border-bottom: none;
    }
  }
  button {
    @include theme.big-button;
  }
}
