@use "../../theme";

.create-message {
  @include theme.page;
  @include theme.flex-column-center;

  form {
    @include theme.auth-form;

    textarea {
      height: 20vh;
      width: 80%;
      float: right;
      resize:none;
      border: none;
      background-color: lightgrey;
      outline: none;
    }

    .textarea {
      border-bottom: none;
    }
  }
  button {
    @include theme.big-button;
  }
}
